@keyframes drop-letters{
    0%{
        transform: translateY(0%);
    }
    10%{
        transform: translateY(0%);
    }
    15%{
        transform: translateY(-100%);
    }
    20%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes arrow-move {
     0%{
        transform: translateY(0%);
     }
    
     50%{
        transform: translateY(100%);
     }
     100%{
        transform: translateY(0%);
     }
}


@keyframes ballOff {
    0%{
        transform: translateX(15rem) scale(1);
    }
    50%{
        transform: translateX(7.5rem) scale(1.2);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}

@keyframes ballOn {
    0%{
        transform: translateX(0) scale(1);
    }
    50%{
        transform: translateX(7.5rem) scale(1.2);
    }
    100%{
        transform: translateX(11rem) scale(1);
    }
}